body {
  max-width: 50rem;
  width: 100%;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#feature-list {
  font-size: 0.75rem;
}

.computer-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}

#computer-image {
  width: 200px;
  height: 200px;
  margin: 0.5rem;
}

.computer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}

.buy-button-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  text-align: center;
  justify-content: center;
}

#price {
  font-size: 1.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f8f8f8;
  border-radius: 12px;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

#laptops {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.75rem;
}

.gather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 8px 16px;
}

.work-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#work-button {
  font-size: 16px;
  background-color: #4d70f0;
  color: white;
}

#work-button:hover {
  background-color: #345df3;
}

#bank-button {
  font-size: 16px;
  background-color: #edef4b;
}

#bank-button:hover {
  background-color: #f1d325;
}

#buy-button {
  font-size: 16px;
  background-color: #4cc9f1;
}

#buy-button:hover {
  background-color: #23c3f8;
}

#loan-button {
  background-color: #4bf1a1;
}

#loan-button:hover {
  background-color: #27e689;
}

#repay-button {
  background-color: #4bf167;
}

#repay-button:hover {
  background-color: #29ec49;
}

.button {
  border: none;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

.button-container {
  text-align: center;
}

.textbox {
  display: flex;
  justify-content: space-between;
}
